{% extends 'base.html' %}

{% block content %}

<h1>Present Weather Forecast</h1>
<br>

{% if api %}
	{% if api == "Error Occured" %}
		There was an Error. Please try again later.
	{% else %}
<div class="jumbotron">
  <h1 class="display-5">Air Quality Index in {{ api.location.name}}</h1>

  		{% if aqi == 1 %}
  		<h3>Range from 0 to 50 which is Good.</h3>
  		{% elif aqi == 2 %}
  		<h3>Range from 51 to 100 which is Moderate.</h3>
  		{% elif aqi == 3 %}
  		<h3>Range from 101 to 150 which is Unhealthy for Sensitive Groups.</h3>
  		{% elif aqi == 4 %}
  		<h3>Range from 151 to 200 which is Unhealthy</h3>
  		{% elif aqi == 5 %}
  		<h3>Range from 201 to 300 which is Very Unhealthy</h3>
  		{% else %}
  		<h3>Range from 301 and higher which is Hazardous</h3>
  		{% endif %}

  		<br>
  		<br>

  	<h3>The Hazardous gases and their quantity that are present in the air right now in {{api.location.name}} is :</h3>

  	<br>


  		<table width="80%" align="center">
  			<tr style="padding: 15px;">
  				<th>Hazardous Gas</th>
  				<th>Quantity in air</th>
  			</tr>
  			<tr>
  				<td>Carbon Monoxide (<span>CO</span>)</td>
  				<td>{{api.current.air_quality.co}}</td>
  			</tr>
  			<tr>
  				<td>Nitrogen Dioxide (<span>NO<sub>2</sub></span>)</td>
  				<td>{{api.current.air_quality.no2}}</td>
  			</tr>
  			<tr>
  				<td>Ground level Ozone (<span>O<sub>3</sub></span>)</td>
  				<td>{{api.current.air_quality.o3}}</td>
  			</tr>
  			<tr>
  				<td>Sulfur Dioxide (<span>SO<sub>2</sub></span>)</td>
  				<td>{{api.current.air_quality.so2}}</td>
  			</tr>
  			<tr>
  				<td>Particle Pollution (<span>PM 2.5</span>)</td>
  				<td>{{api.current.air_quality.pm2_5}}</td>
  			</tr>
  			<tr>
  				<td>Particulate Matter (<span>PM 10</span>)</td>
  				<td>{{api.current.air_quality.pm10}}</td>
  			</tr>
  		</table>

	<hr class="my-4">
  <h2 class="display-5">Now we are going to take a look at the weather forecast in {{api.location.name}}</h2>
  <br>
  <h2 align="center">Weather Condition: <span>{{ api.current.condition.text}}</span> <img src={{ api.current.condition.icon }} /> </br></h2>
  <h2 style="width: 80%;" align="center">Humidity: <span>{{api.current.humidity}}</span></h2>
  <p style="width: 80%;" align="center">Temperature in Celsius</p>
  <table width="80%" align="center">
  	<tr style="padding: 15px;">
  		<th>Minimum temperature</th>
  		<th>Maximum temperature</th>

  	</tr>
  	<tr>
  		<td>{{temperature.mintemp_c}}</td>
  		<td>{{temperature.maxtemp_c}}</td>

  	</tr>
  </table>
  <br>
   <table width="80%" align="center">
  	<tr style="padding: 15px;">
  		<th>Average temperature</th>
  		<th>Temperature feels like</th>

  	</tr>
  	<tr>
  		<td>{{temperature.avgtemp_c}}</td>
  		<td>{{api.current.feelslike_c}}</td>

  	</tr>
  </table>
  <br>
  <br>
  <p style="width: 80%;" align="center">Temperature in Fahrenheit</p>
  <table width="80%" align="center">
  	<tr style="padding: 15px;">
  		<th>Minimum temperature</th>
  		<th>Maximum temperature</th>

  	</tr>
  	<tr>
  		<td>{{temperature.mintemp_f}}</td>
  		<td>{{temperature.maxtemp_f}}</td>

  	</tr>
  </table>
  <br>
   <table width="80%" align="center">
  	<tr style="padding: 15px;">
  		<th>Average temperature</th>
  		<th>Temperature feels like</th>

  	</tr>
  	<tr>
  		<td>{{temperature.avgtemp_f}}</td>
  		<td>{{api.current.feelslike_f}}</td>

  	</tr>
  </table>

  <hr class="my-4">
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="{% url 'about' %}" role="button">Learn more about AQI</a>
  </p>
</div>



<div class="jumbotron">
	<h2 class="display-5">Astrology in {{api.location.name}}</h2>
</br>
<br>
	 <table width="80%" align="center">
  	<tr style="padding: 15px; text-align: left;">
  		<th>Sun Rise</th>
  		<th>Sun Set</th>
  		<th>Ultra Violet</th>

  	</tr>
  	<tr>
  		<td>{{astro.sunrise}}</td>
  		<td>{{astro.sunset}}</td>
  		<td>{{api.current.uv}}</td>

  	</tr>
  </table>
  <br>
  	 <table width="80%" align="center">
  	<tr style="padding: 15px; text-align: left;">
  		<th>Moon Rise</th>
  		<th>Moon Set</th>
  		<th>Moon Phase</th>

  	</tr>
  	<tr>
  		<td>{{astro.moonset}}</td>
  		<td>{{astro.moonrise}}</td>
  		<td>{{astro.moon_phase}}</td>

  	</tr>
  </table>
  <br>

  <hr class="my-4">

  <h2 class="display-5">Wind Speed and Direction in {{api.location.name}}</h2>
</br>
	</br>
	 <table width="80%" align="center">
  	<tr style="padding: 15px;">
  		<th>Wind Speed</th>
  		<th>Gust speed</th>
  	</tr>
  	<tr>
  		<td>{{api.current.wind_kph}} KM</td>
  		<td>{{api.current.gust_kph}} KM</td>
  	</tr>
  </table>
  <br>
  <br>

   <table width="80%" align="center">
  	<tr style="padding: 15px;">
  		<th>Wind Direction</th>
  		<th>Wind Degree</th>
  	</tr>
  	<tr>
  		<td>{{api.current.wind_dir}}</td>
  		<td>{{api.current.wind_degree}}</td>
  	</tr>
  </table>
  <br>

</div>

	{% endif %}

{% endif %}


{% endblock %}